<!-- head -->

<script src="https://kit.fontawesome.com/5742b807f1.js" crossorigin="anonymous"></script>

<!-- fin head -->


<div class="container">
  <div class="row justify-content-center t-20">
    <div class="col-6">

        <h1 class="z-index m-5"><strong>Mon profil</strong></h1>
        <!-- <div class="profil-card d-flex"> -->
          <div class="profile-card d-flex">
            <div class="container_avatar d-flex">
              <div class="avatarprofil pr-2">
              <%= image_tag "https://cdn4.iconfinder.com/data/icons/user-avatar-flat-icons/512/User_Avatar-04-512.png", class: "avatar-profil mt-1", id: "profilCard", height: '100', width: '100' %>
              </div>
            </div>
          <div class ="col-12 m-7">
            <p><strong>Prénom: </strong> <%= @user.first_name %></p>
            <p><strong>Nom: </strong><%= @user.last_name %></p>
            <p><strong>Email: </strong><%= @user.email %></p>
          </div>
        </div>
      <!-- </div> -->
      <%= link_to "Retourner à la liste des appareils", raclette_machines_path, class: "btn btn-outline-warning m-4" %>
      <%= link_to "Mes annonces", owner_raclette_machines_path, class: "btn btn-outline-warning m-4" %>
    </div>

  </div>

</div>

<!-- footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Cheezze App 🧀
  </div>
</div>


<!-- fin footer -->

