<h1 class="text-center"> Appareils à Raclette </h1>

<div class="row">
  <% @raclette_machines.each do |raclette_machine| %>
    <div class="card-trip-index">
        <img src="https://medias3-1.ubaldi.com/visuels/67787/PR457812-01-43.jpg" />
          <div class="card-trip-infos-index">
              <div>
                <h2 class = "text-uppercase text-dark"><%= link_to raclette_machine.name, raclette_machine_path(raclette_machine) %></h2>
                    <p>Address : <%= raclette_machine.address  %></p>
                    <p>Capacité : <%= raclette_machine.capacity  %></p>
                    <p>Accessories : <%= raclette_machine.accessories  %></p>
              </div>
              <h2 class="card-trip-pricing"> <%= raclette_machine.price %></h2>
          </div>
    </div>
  <% end %>
  <div class="card-product">
    <img src="https://medias3-1.ubaldi.com/visuels/67787/PR457812-01-43.jpg" />
        <div class="card-product-infos">
          <h2> <%= link_to raclette_machine.name, raclette_machine_path(raclette_machine), class: 'font-weight-bolder text-dark' %> </h2>
          <p> Capacité <%= raclette_machine.capacity %> <br> <strong> Prix <%= raclette_machine.price %> </strong> </p>
        </div>

      </div>
   <% end %>
</div>



