<!-- head -->

<script src="https://kit.fontawesome.com/5742b807f1.js" crossorigin="anonymous"></script>

<!-- fin head -->


<h2 class="text-center">Add a raclette <strong id="red-word">machine</strong> ! </h2>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-6">

      <br>
      <%= simple_form_for @raclette_machine do |f| %>
      <%= f.input :name, placeholder: "Tefal X342", :label_html => { :class => "label-css"} %>
      <%= f.input :address, label: "Your address", placeholder: "36 avenue du calin Nantes" %>
      <%= f.input :capacity, label: "Capacity", placeholder: "8" %>
      <%= f.input :accessories, label: "Accessories", placeholder: "3 poelons" %>
      <%= f.input :price, label: "Price €", placeholder: "100€" %>
      <%= f.input :photo, as: :file %>
      <hr>
      <br>
      <hr>
      <%= f.button :submit, "Add a raclette machine", class: "btn btn-danger btn-lg"%>

      <% end %>
    </div>
  </div>
</div>
</div>

<!-- footer -->

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Cheezze App 🧀
  </div>
</div>


<!-- fin footer -->

