
<h1 class="text-center pt-4"><strong id="red-word">Ajouter une annonce</strong></h1>

<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= simple_form_for @raclette_machine do |f| %>
      <%= f.input :name, placeholder: "Tefal X342", :label_html => { :class => "label-css"} %>
      <%= f.input :address, label: "Your address", placeholder: "36 avenue du calin Nantes" %>
      <%= f.input :capacity, label: "Capacity", placeholder: "8" %>
      <%= f.input :accessories, label: "Accessories", placeholder: "3 poelons" %>
      <%= f.input :price, label: "Price €", placeholder: "100€" %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Créer mon annonce", class: "btn btn-danger btn-l mt-3 mb-5"%>
      <% end %>
    </div>
  </div>
</div>
</div>



