


<%= link_to "Retourner à la liste", raclette_machines_path, class: "btn btn-primary m-2 " %>
<div class="container d-flex justify-content-center">
  <div class="card-product">
    <%= cl_image_tag @raclette_machine.photo.key, height: 300, width: 400, crop: :fill %>
    <!-- <img src="https://images.unsplash.com/photo-1522100077728-4fae00f560c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1581&q=80" /> -->
    <div class="card-product-info m-4">
      <div class="infos">
          <h2 class = "text-uppercase m-2"><%= @raclette_machine.name %></h2>
          <p><%= @raclette_machine.address  %></p>
          <p><%= @raclette_machine.accessories  %></p>
          <h3><%= @raclette_machine.capacity  %> <i class="fas fa-male"></i></h3>
      </div>
      <div class = "price">
      <h2 class="card-product-pricing text-black"><%= @raclette_machine.price  %></h2>
   </div>
 </div>
  </div>
  <div class="form">
    <%= render 'reservations/new'%>
  </div>
</div>






